/* base.html*/

body{
  background: radial-gradient(#C0C0C0, #909090);
  color : #696969;
  font-family: FreeMono, monospace;

}

.clear {
  clear:both;
}
.basehtml img {
  max-width: 200px;
  max-height: 200px;
  margin-right: 40px;
}

.basehtml h1 {
  text-transform: uppercase;
  color: red;
  font-size: 40px;
}

.basehtml p {
  color: #708090;
  font-size: 25px;
}

.basehtml .titre {
  display: flex;
  flex-direction: row;
}

.basehtml nav {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.basehtml nav a {
  color: red;
  text-decoration: none;
}

.basehtml nav div a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basehtml  {
  background-color: yellow;
  /*background: radial-gradient(#DAA520  ,yellow );	*/
}

.basehtml nav {
  background: radial-gradient(#C0C0C0, #909090);
  padding: 6px 8px;
  /*background-color : #696969;*/
  padding-top: 15px;
  padding-bottom: 15px;
  border : 2px solid yellow;

}


/* homepage */
.homehtml aside {
  /* background-color: grey; */
  float: right;
  width: 24%;
  text-align: center;
}

.homehtml section {
  /*display: inline-block;*/

}

.homehtml .vignettes {
  width: 70%;
  float:left;
}

.homebase figure img{
  max-width: 70px;
}



.homebase .vignettes div {
  display :flex;
  flex-direction: row;

}

.homebase figcaption {
  text-align: center;
}


/* FORMULAIRE */

.formulaire {
  background-color: yellow;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding : 20px;
  border :2px solid #708090;
  border-radius: 30px;
  color : #708090;
}

.formulaire input, .formulaire button, .formulaire label {
	width : 80%;
	margin: 0 auto;
  color: #708090;
  color : #708090;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.formulaire input {
  margin-bottom: 15px;
}

.formulaire legend:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formulaire textarea {
  width: 90%;
  height: 50px;
}

form .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.formtitle {
  color: red;
  text-align: center;
  margin-top: 50px;
}

/*LIENS*/

.button {
  margin: 0 auto;
}

section.button {
  text-align: center;
  margin: 30px;
}

section.linkintable {
  margin: 15px;

}

.liens {
  text-decoration: none;
  background: radial-gradient(#C0C0C0, #696969);
  padding: 6px 8px;
  border-radius: 30px;
  color: yellow;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

}

.lien::after{
  margin: 20px;
}

.lien::before {
  margin: 20px;
}
.liens:hover {
  color : grey;
}

/* VIGNETTES PROJECT */

.vignetteproject {
  border: 3px solid black;
  border-radius: 30px 30px 30px;
  margin: 30px;

}

.vignettestitle {
  color:yellow;
  text-align: center;
}

/*TABLE*/

.table {
  border: 2px solid #708090;
  margin: 0 auto;

}

.table th, .table td {
  border: 2px solid #708090;
  padding-left: 15px;
  padding-right: 15px;
  color : #708090;
}

.table th {
  background-color: yellow;
}

.center {
 text-align: center;
 margin-top: 15px;
}

table.table td img{
  max-width: 300px;
}

/* MAPPING LEAFLET */

#mapid {
  height: 300px;
  border : 2px solid black;

}

.projectsearch {

  text-align: center;
  background-color: yellow;
  /* background: radial-gradient(#C0C0C0, #909090); */
  padding-top: 10px;
  padding-bottom: 10px;

}

.projectsearchcolor {
  background-color: yellow;
  color : #696969;
  border-radius: 30px 30px 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}





/* ASIDE */


h1.asidetitle {
  color : red;
  font-size: 30px;
  background: radial-gradient(#C0C0C0, #696969);
  padding-top: 10px;
  padding-bottom: 10px;
}

/*  FOOTER  */

footer p{
  text-align: center;
  padding-top: 100px;
}
