{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="formtitle">Access denied !!</h1>

    <p class="center">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}" class="liens">return to the homepage</a>.
    </p>
{% endblock %}
