{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1 class="formtitle">Create new Project</h1>

  <section class="formulaire">
    {{ include('project/_form.html.twig') }}
  </section>
  <section class="button">
    <a href="{{ path('project_index') }}" class="liens">back to list</a>
  </section>
{% endblock %}
